.simple-footer {
 
  

  color: #f0e2e2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 1.5rem 1rem;


  border-top: 1px solid rgba(206, 156, 156, 0.1);
  background: linear-gradient(45deg, #020734, #330101, #2e0101, #010c21);
  background-size: 400% 400%;
  animation: heroBGAnimation 6s ease infinite;
}


@keyframes heroBGAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}





@media (max-width: 600px) {
  .simple-footer {
    font-size: 14px;
    padding: 3.2rem 8rem;
  }
}
